html,body{
    background: rgb(247,247,247);
    font-family: "PingFangSC-Regular" !important;
}
nav .bar-tab .go_change{
    font-size: 1rem;
    font-weight: 300;
    color: rgb(255,255,255);
}

.content .wx_box{
    width: 95%;
    margin: .5rem auto 0;
    height: 2rem;
    background: rgb(250,250,250);
    display: flex;
    display: -webkit-flex;
}
.content .wx_box .wx_pic{
    flex: 1;
    -webkit-flex: 1;
}
.content .wx_box .wx_pic img{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    -webkit-border-radius:100%
}
.content .wx_box .wx_text{
    flex: 5;
    -webkit-flex: 5;
    margin-top: -.1rem;
    color: rgba(0,0,0,0.8);
    font-size: .75rem;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/*商品详情*/
.content .content_block .tabs .goods_box{
    margin: .5rem auto;
    width: 100%;
    height: auto;
    background: #fff;
}

/*轮播图*/
.content .content_block .tabs .goods_box .swiper-container .swiper-slide img{
    width: 100%;
    height: 10rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: .5rem;
    left: 0;
    width: 100%;
}
.content .content_block .swiper-container .swiper-slide{
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*商品标题简介*/
.content .content_block .goods_box .goods_brief{
    width: 90%;
    margin: .2rem auto;
    padding-bottom: .1rem;
}
.content .content_block .goods_box .goods_brief .brief_title{
    font-size: .85rem;
    font-weight: 300;
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 2.2rem;
    line-height: 1.1rem;
    margin: 0;
}
.content .content_block .goods_box .goods_brief .brief_price{
    margin-top: -.8rem;
    font-size: .95rem;
    font-weight: 300;
    color: rgb(222,63,55);
}
.content .content_block .goods_box .goods_brief .brief_price .price_one{
    box-shadow: 0 0 2px 0 rgb(222,63,55);
    width: 3.2rem;
    margin-right: .2rem;
    font-size: .7rem;
    font-weight: 300;
}
.content .content_block .goods_box .goods_brief .brief_price .price_two{
    font-size: .7rem;
    font-weight: 300;
    color: rgba(0,0,0,0.4);
    margin-left: .2rem;
}
.content .content_block .goods_box .goods_brief .brief_price .price_three{
    color: rgb(35,35,35);
    font-size: .7rem;
    font-weight: 300;
}
.content .content_block .goods_box .goods_brief .brief_price .price_three .bonus{
    color: rgb(222,63,55);
}


/*商品详情中tab标签切换按钮*/
.content .content_block .tabs .buttons-tab .button{
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
}
.content .content_block .tabs .buttons-tab .button.active{
    border-bottom: 2px solid rgb(222,63,55);
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .content .content_block .tabs .buttons-tab .button.active{ border: 1px solid rgb(222,63,55)}
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
    .content .content_block .tabs .buttons-tab .button.active { border: 0.666px solid rgb(222,63,55)}
}
.content .content_block .goods_spec{
    background: #fff;
}
.content .content_block .goods_spec .spec_box{
    width: 100%;
    margin: 0 auto;
    font-size: .75rem;
    font-weight: 300;
    color: rgb(0,0,0);
    padding: .8rem .8rem;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.5);
}
.content .content_block .goods_spec .spec_box .spec_item{
    height: auto;
    margin-top: -.2rem;
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.content .content_block .goods_spec .spec_box .spec_item .spec_list{
    padding: .2rem .4rem;
    margin-left: .2rem;
    background: rgba(0,0,0,0.04);
    font-size: .65rem;
    font-weight: 300;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-top: .4rem;
    white-space:nowrap;
    display: inline-block;
}
.content .content_block .goods_spec .spec_box .spec_item .none{
    color: rgba(0,0,0,0.2);
    pointer-events: none;
}
.content .content_block .goods_spec .spec_box .spec_item .active{
    background: rgb(222,63,55);
    color: rgb(255,255,255);
}
.content .content_block .goods_spec .spec_num{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.content.content_block .goods_spec .spec_num .num_title{
    flex: 2;
    -webkit-flex: 2;
}
.content .content_block .goods_spec .spec_num .num_box{
    overflow: hidden;
    border: none;
    box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    display: flex;
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
.content .content_block .goods_spec .spec_num .num_box .subtract{
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.5)
}
.content .content_block .goods_spec .spec_num .num_box .num_handle{
    width: 40%;
    text-align: center;
    border: none;
}
.content .content_block .goods_spec .spec_num .num_box .add{
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.content .content_block .goods_text{
    margin: .5rem auto;
    width: 100%;
}
.content .content_block .goods_text .active{
    border-bottom: 2px solid rgb(222,63,55);
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .content .content_block .goods_text .active{ border: 1px solid rgb(222,63,55)}
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
    .content .content_block .goods_text .active{ border: 0.666px solid rgb(222,63,55)}
}

.content .content_block .tabs .text_goods, .page .content_block .goods_detail .tabs .parameter, .page .content_block .goods_detail .tabs .to_know{
    margin: -1rem auto 0;
    font-size: .85rem;
    font-weight: 300;
    color: rgba(0,0,0,0.6);
}
.content .content_block .tab .pic_goods img{
    height: 10rem;
    width: 100%;
}
.content .content_block .tabs .parameter{
    width: 100%;
    margin: -1rem auto 0;
 }
.content .content_block .tabs .parameter tr{
    display: flex;
    display: -webkit-flex;
}
.content .content_block .tabs .parameter tr td:first-of-type{
    flex: 1;
    -webkit-flex: 1;
    color: rgba(0,0,0,0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content .content_block .tabs .parameter tr td:last-of-type{
    flex: 2;
    -webkit-flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content .content_block .tabs .to_know .know_box h5{
    color: rgb(0,0,0);
    margin: .2rem;
}
.content .content_block .tabs .to_know .know_box p{
    margin: 0;
}
.content .content_block .tabs .to_know .know_else{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.content .to_know .know_else img{
    margin-top: .4rem;
}
