.page {
  background: #fafafa;
}
.page nav {
  background: #de3f37;
  text-align: center;
}
.page .bar-tab {
  line-height: 2.5rem;
}
.page .bar-tab a {
  color: #ffffff;
}
.page .content {
  width: 100%;
}
.page .content .pay_box {
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
}
.page .content .pay_box .first_p {
  margin: 0;
  font-size: .85rem;
  color: #000000;
}
.page .content .pay_box .first_p span {
  color: #de3f37;
}
.page .content .pay_box .second_p {
  margin-top: .2rem;
  font-size: .7rem;
  color: rgba(0, 0, 0, 0.6);
}
.page .content .pay_way form {
  width: 90%;
  margin: 0 auto;
}
.page .content .pay_way form label {
  height: 2.5rem;
  line-height: 2.5rem;
}
.page .content .pay_way form label img {
  display: inline-block;
  margin: 0 .5rem;
  vertical-align: middle;
}
