.page {
  background: #ffffff;
}
.page nav {
  background: #de3f37;
  text-align: center;
}
.page .bar-tab {
  line-height: 2.5rem;
}
.page .bar-tab a {
  color: #ffffff;
  font-size: 0.85rem;
  font-weight: 300;
}
.page .content .open_box {
  width: 70%;
  margin: 2rem auto 1rem;
  text-align: center;
}
.page .content .open_box .open_pic img {
  width: 3rem;
  height: 3rem;
}
.page .content .open_box .open_title {
  font-size: 1.3rem;
  font-weight: 300;
  color: #de3f37;
}
.page .content .open_box .open_tips {
  margin-top: 2rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}
