.page {
  background: #f8f8f8;
  font-family: PingFangSC-Regular !important;
}
.page .bar-tab {
  line-height: 2.5rem;
  display: flex;
  display: -webkit-flex;
  background: #ffffff;
}
.page .bar-tab .tab-item .tab-label {
  font-size: .8rem;
  font-weight: 300;
}
.page .bar-tab .tab-item .tab-label span {
  color: #de3f37;
}
.page .bar-tab .credit_num {
  flex: 2;
  -webkit-flex: 2;
  text-align: left;
  padding-left: 1rem;
}
.page .bar-tab .go_pay {
  display: block;
  flex: 1;
  -webkit-flex: 1;
  background: #de3f37;
}
.page .bar-tab .go_pay .tab-label {
  color: #ffffff;
}
.page .bar-tab .no_credit,
.page .bar-tab .no_pay {
  display: none;
  flex: 1;
  -webkit-flex: 1;
  background: #d2d2d2;
  pointer-events: none;
}
.page .bar-tab .no_credit .tab-label,
.page .bar-tab .no_pay .tab-label {
  color: #ffffff;
}
.page .content .swiper-container-horizontal > .swiper-pagination-bullets,
.page .content .swiper-pagination-custom,
.page .content .swiper-pagination-fraction {
  bottom: .5rem;
  left: 0;
  width: 100%;
}
.page .content .swiper-container {
  width: 100%;
  height: 11rem;
}
.page .content .swiper-container .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page .content .mid_box {
  background: #ffffff;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
}
.page .content .mid_box .goods_text {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 2.2rem;
  line-height: 1.1rem;
  margin: 0;
}
.page .content .mid_box .goods_price {
  color: #de3f37;
  margin-top: .3rem;
}
.page .content .goods_info {
  margin-top: .5rem;
}
.page .content .goods_info .button {
  font-size: 0.8rem;
}
.page .content .goods_info .button.active {
  color: #5f646e;
  border-color: #de3f37;
}
.page .content .tabs .tab .content-block {
  margin: 0;
  padding: .5rem 0.1rem;
  width: 100%;
  overflow-x: hidden;
  background: #ffffff;
}
@media (max-width: 320px) {
  .page .bar-tab .tab-item .tab-label {
    font-size: 0.75rem;
  }
  .page .content .mid_box {
    font-size: .7rem;
  }
  .page .content .goods_info .button {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 374px) and (min-width: 321px) {
  .page .bar-tab .tab-item .tab-label {
    font-size: 0.75rem;
  }
  .page .content .mid_box {
    font-size: 0.75rem;
  }
}
